<%= form_with(model: [product, sample],  html: {'data-turbo' => "false"}) do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image_data %>
  </div>
  <%= form.submit %>
<% end %>