<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['image.jpg'].url, alt: 'photo' %>
    <h1>Welcome to Sneakers Shop </h1>
    <p>
      You have successfully signed up,
      your username is: <%= @user.username %><br>
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>