<nav class="navigation">
  <% if current_admin %>
    <%= button_to 'sign out', destroy_admin_session_path, class: "btn btn-primary", method: :delete %>
  <% else %>
    <%=link_to 'sign in', new_admin_session_path %>
  <% end %>
</nav>