<nav class="navigation row">
  <div class="col-2 d-flex justify-content-start">Logo</div>
  <div class="col-10 d-flex justify-content-end">
    <% if current_admin %>
      <%= link_to 'New Product', new_product_path, class: "btn btn-primary border-0 text-decoration-none" %>
      <%= button_to 'sign out', destroy_admin_session_path, class: "btn btn-primary border-0", method: :delete %>
    <% else %>
      <%=link_to 'sign in', new_admin_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>