.button_to {
  display: inline;
}

.navigation {
  width: 98%;
  margin: 0 auto;
  padding: 10px 0;
}

form[action="/admins/sign_out"] {
  margin-left: 10px;
}

.table-header {
  padding: 20px 10px;
}

.gfg {
  border-collapse:separate;
  border-spacing:0 15px;
}

@media(min-width: 700px) {
  .alert {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}