<tr>
  <td class="text-center"><%= product.name %></td>
  <td class="text-center"><%= product.marketing_statement %></td>
  <td class="text-center"><%= product.product_price %></td>
  <td class="text-center"><%= product.product_discount%></td>
</tr>
