<h3 class="table-header">Products</h3>
<table class="">
  <tbody class="gfg">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Marketing Statement </th>
    <th class="text-center">Cost Price</th>
    <th class="text-center">Percentage Discout</th>
  <tr>
    <%= render @products %>
  </tbody>
</table>
